* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.intro-text h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    animation: drop 1.5s ease;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: rgb(200, 200, 200);
    animation: rise 1.5s ease;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
    z-index: -3;
}

.cover img {
    height: 100%;
    animation: drop 1.5s ease;

}

.design {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    opacity: 0.5;
    width: 80%;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 10px rgb(0, 255, 181);
}

box {
    color: white;
    position: absolute;
    top: 80%;
    left: 20%;
    animation: drop 1.5s ease;
    border: none;
    border-bottom: 1px solid rgb(0, 255, 181);
    background: transparent;
    outline: none;
    letter-spacing: 5px;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes rise {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }

    .cover img {
        height: 80%;
    }
}
